nav {
  background-color: var(--navbar-background-color);
  font-family: "Roboto-Black ";
}

.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: relative;
}

.logo {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-family: "Roboto";
  font-weight: 900;
}

.hamburger-menu {
  display: none;
  color: var(--secondary-color);
  cursor: pointer;
  z-index: 1100;
}

.ul-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.ul-list li {
  position: relative;
}

.ul-list li a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: "Roboto";
  font-weight: 400;
}

.ul-list li a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1440px) {
  .achievement-sections {
    min-height: 60vh;
  }
  .achievement-sections h3 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .achievement {
    gap: 3rem;
  }
  .company-trust {
    min-height: 40vh;
  }

  .teachers-pr {
    min-height: 100vh;
    padding: 40px 0px;
  }
  .teachers-pr h1 {
    margin-bottom: 20px;
  }
  .teachers-card-position {
    gap: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .ul-list li a {
    text-decoration: none;
    padding: 0.8rem;
    color: var(--secondary-color);
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 1rem;
  }

  li a:hover {
    color: hsl(216, 95%, 50%);
  }

  .welcome-text h1 {
    font-size: 4rem;
    text-align: left;
    width: 100%;
    font-weight: bold;
  }

  .Welcome img {
    height: 400px;
    width: 400px;
  }
  .achievement-sections {
    min-height: 60vh;
  }

  .achievement {
    gap: 1rem;
  }

  .teachers-pr {
    min-height: 100vh;
    padding: 40px 0px;
  }
  .teachers-pr h1 {
    margin-bottom: 20px;
  }
  .teachers-card-position {
    gap: 3rem;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 950px) {
  .hamburger-menu {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1100;
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .ul-list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navbar-background-color);
    text-align: center;
    justify-content: center;
    gap: 3rem;
    z-index: 1000;
    margin: 0% auto;
    overflow-y: auto;
  }

  .ul-list li a {
    color: var(--secondary-color);
    font-size: 2rem;
  }

  .ul-list li a:hover {
    color: var(--primary-color);
    background: none;
  }

  .ul-list li a {
    padding: 0.5rem;
    width: 100%;
  }

  .ul-list.active {
    display: flex;
  }

  .achievement {
    gap: 2.5rem;
    padding: 20px;
  }

  .teachers-card-position {
    padding: 20px;
  }
}

@media screen and (max-width: 820px) {
  .hamburger-menu {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1100;
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .ul-list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navbar-background-color);
    gap: 3rem;
    z-index: 1000;
    margin: 0% auto;
    overflow-y: auto;
  }

  .ul-list li a {
    color: var(--secondary-color);
    font-size: 2rem;
  }

  .ul-list li a:hover {
    color: var(--primary-color);
    background: none;
  }

  .ul-list li a {
    padding: 0.5rem;
    width: 100%;
  }

  .ul-list.active {
    display: flex;
  }

  .Welcome img {
    height: 600px;
    width: 600px;
  }

  .achievement-sections {
    min-height: 60vh;
    padding: 30px 60px;
  }

  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: block;
      font-size: 2.2rem;
      font-weight: bold;
      z-index: 1100;
    }

    .logo {
      font-size: 2rem;
      font-weight: bold;
    }

    body.no-scroll {
      overflow: hidden;
    }

    .ul-list {
      display: none;
      flex-direction: column;
      position: fixed;
      /* Fixed positioning for full-height menu */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--navbar-background-color);
      text-align: center;
      justify-content: center;
      gap: 3rem;
      z-index: 1000;
      margin: 0% auto;
      overflow-y: auto;
    }

    .ul-list li a {
      color: var(--secondary-color);
      font-size: 2rem;
    }

    .ul-list li a:hover {
      color: var(--primary-color);
      background: none;
    }

    .ul-list li a {
      padding: 0.5rem;
      width: 100%;
    }

    .ul-list.active {
      display: flex;
    }

    .welcome-img {
      width: 500px;
      height: 500px;
    }
    .achievement-sections {
      padding: 40px 0px;
    }

    .achievement-sections h3 {
      margin-top: 20px;
      margin-bottom: 0px;
    }
    .achievement {
      gap: 3rem;
    }

    .achievement-card {
      width: 40%;
    }

    .teachers-pr {
      min-height: 100vh;
      padding: 40px 0px;
    }
    .teachers-pr h1 {
      margin-bottom: 20px;
    }
    .teachers-card-position {
      gap: 3rem;
      padding: 20px 0px;
    }
  }

  @media screen and (max-width: 480px) {
    .hamburger-menu {
      display: block;
      font-size: 2rem;
      font-weight: bold;
    }

    .logo {
      font-size: 1.4rem;
      font-weight: bold;
    }

    body.no-scroll {
      overflow: hidden;
    }

    /* Navbar on mobile devices */
    .ul-list {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--navbar-background-color);
      text-align: center;
      justify-content: center;
      gap: 4rem;
      z-index: 1000;
      overflow-y: auto;
    }

    .ul-list li a {
      color: aliceblue;
    }

    .ul-list li a:hover {
      background: none;
    }

    li {
      font-size: 2rem;
    }

    .ul-list li a {
      padding: 0.2rem;
      width: 100%;
      font-size: 1.4rem;
    }

    .ul-list.active {
      display: flex;
    }

    /* Hero Section */

    .courses {
      grid-template-columns: 1fr;
    }

    .social li {
      list-style: none;
    }

    .welcome-text {
      padding: 0px 12px;
    }

    .welcome-text h1 {
      font-size: 2rem;
    }
    .welcome-text p {
      font-size: small;
    }

    .Welcome img {
      width: 360px;
      height: auto;
      padding: 10px;
    }
    .achievement-sections {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 60px 10px;
    }

    .achievement {
      gap: 2rem;
    }

    .achievement-card {
      width: 80%;
    }
    /* Company Section Start */
    .company-trust {
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .company-trust h3 {
      padding: 0px 16px;
    }

    .company-Logo {
      display: flex;
      gap: 1.2rem;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 90%;
    }
    /* Company Section End */

    /* Teachers Section Start   */
    .teachers-pr {
      text-align: center;
      min-height: 100vh;
      padding: 50px 0px;
    }
    .teachers-pr h1 {
      color: var(--secondary-color);
      padding: 30px 10px;
    }
    .teachers-card-position {
      gap: 3.5rem;
    }
    /* Teachers Section End   */

    /* Footer Section Start */

    .front-images {
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      align-items: center;
      justify-content: center;
      padding: 20px 0px;
      min-height: 30vh;
    }

    .social {
      display: flex;
      gap: 1srem;
    }

    /* Footer Section End */
  }
}
