/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(280, 1%, 50%);
  --secondary-color: whitesmoke;
  --navbar-background-color: rgb(5, 86, 113);
}

/* Navigation Bar */
nav {
  background-color: var(--navbar-background-color);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.logo {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger-menu {
  display: none; /* Hide hamburger menu by default */
  font-size: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
  z-index: 1100; /* Ensure it's above other elements */
}

/* Menu List */
.ul-list {
  display: flex; /* Show menu items horizontally by default */
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.ul-list li {
  position: relative;
}

.ul-list li a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  font-size: 1.1rem;
}

.ul-list li a:hover {
  color: var(--primary-color);
}

/* Hero Section Start */
main div h1 {
  text-align: center;
  padding-bottom: 10px;
}

/* WebDevelopment Section Start */
#webdevelopment {
  background-color: var(--secondary-color);
  height: min-content;
  padding: 20px 0px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.course {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.course h4 {
  font-size: 1.5rem;
}

.course p {
  margin: 8px 0;
  text-align: justify;
  line-height: 1.4rem;
}

.course .price {
  font-weight: bold;
  color: #333;
}

.course button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #007bff;
  color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

.add-cart {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100%;
}
.course .add-to-cart:hover {
  background-color: #0056b3;
}

/* IT Certificate Section Start */
#itcertificate {
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
}

/* Leadership Section Start */
#leadership {
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
}

/* DataScience Section Start */
#datascience {
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
}

/*communication Section Start*/
#communication {
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
}
/*communication Section End*/

/* Business Analytics Section Start */
#businessanalytics {
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .ul-list li a {
    text-decoration: none;
    padding: 1rem;
    color: var(--secondary-color);
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 1rem;
  }
  li a:hover {
    color: var(--primary-color);
  }
}

@media screen and (max-width: 1024px) {
  .ul-list li a {
    text-decoration: none;
    padding: 0.8rem;
    color: var(--secondary-color);
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 1rem;
  }
  li a:hover {
    color: hsl(216, 95%, 50%);
  }
}
@media screen and (max-width: 950px) {
  .hamburger-menu {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1100; /* Ensure it's above other elements */
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .ul-list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--navbar-background-color);
    text-align: center;
    justify-content: center;
    gap: 3rem;
    z-index: 1000;
    overflow-y: auto;
  }

  .ul-list li a {
    color: var(--secondary-color);
    font-size: 2rem;
  }

  .ul-list li a:hover {
    color: var(--primary-color);
    background: none;
  }

  .ul-list li a {
    padding: 0.5rem;
    width: 100%;
  }

  .ul-list.active {
    display: flex;
  }
}

@media screen and (max-width: 820px) {
  .hamburger-menu {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1100;
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .ul-list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: var(--navbar-background-color);
    text-align: center;
    justify-content: center;
    gap: 3rem;
    z-index: 1000;
    overflow-y: auto;
  }

  .ul-list li a {
    color: var(--secondary-color);
    font-size: 2rem;
  }

  .ul-list li a:hover {
    color: var(--primary-color);
    background: none;
  }

  .ul-list li a {
    padding: 0.5rem;
    width: 100%;
  }

  .ul-list.active {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1100; /* Ensure it's above other elements */
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .ul-list {
    display: none;
    flex-direction: column;
    position: fixed; /* Fixed positioning for full-height menu */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full height */
    background-color: var(--navbar-background-color);
    text-align: center;
    justify-content: center;
    gap: 3rem;
    z-index: 1000; /* Ensure it's on top */
    overflow-y: auto; /* Scroll if content overflows */
  }

  .ul-list li a {
    color: var(--secondary-color);
    font-size: 2rem;
  }

  .ul-list li a:hover {
    color: var(--primary-color);
    background: none;
  }

  .ul-list li a {
    padding: 0.5rem;
    width: 100%;
  }

  .ul-list.active {
    display: flex;
  }
}

@media screen and (max-width: 460px) {
  .hamburger-menu {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .logo {
    font-size: 1.4rem;
    font-weight: bold;
  }

  body.no-scroll {
    overflow: hidden;
  }

  /* Navbar on mobile devices */
  .ul-list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--navbar-background-color);
    text-align: center;
    justify-content: center;
    gap: 3rem;
    z-index: 1000;
    overflow-y: auto;
  }

  .ul-list li a {
    color: aliceblue;
  }

  .ul-list li a:hover {
    background: none;
  }

  li {
    font-size: 1.5rem;
  }

  .ul-list li a {
    padding: 0.2rem;
    width: 100%;
  }

  .ul-list.active {
    display: flex;
  }

  /* Hero Section */
  .courses {
    grid-template-columns: 1fr;
  }
}
